body{
	padding-top: 60px;
}

.well{
	border: 2px solid #cc6633;
	min-height: 500 px;
}

.jumbotron{
	background: rgba(42,71,77,1);
	color: rgb(211,211,211);
	margin:0;
}

.wrapper{
	height: 100%;
	width: 100%;
	background: rgba(230,230,230,1);
	padding: 2% 10%;
	border-top: 15px double #2A474D
}

.panel-default > .panel-heading {
  color: #333;
  background: rgb(255,255,255);
  border-bottom: 4px solid #cc6633;
  border-right: 1px solid #cc6633;
  border-radius: 0 0 0 20px;
  font-weight: bold;
  
}

.panel-default > .panel-heading a:link,
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a:active,
.panel-default > .panel-heading a:visited{
  color: #000000;
  text-decoration: none;
}

.panel-default > .trans-panel {
  border-radius: 0 0 20px 0;
}

.page-header{
	border-bottom: 3px solid #B2B2B2;
	margin-top: 5px;
}

.addresses{
	list-style: none;
}

.panel-default > .trans{
  color: #333;
  background: rgb(255,255,255);
  border:none;
  border-radius: 0 0 0 0;
  font-weight: bold;
  
}

.panel-default > .trans:hover{
	border-left: 2px solid #2A474D;
}

.page-header{
	color: white;
	text-align: right;
}