*{
	font-family: 'Rokkitt', serif;
}

html, body {
	background: url("../assets/img/bitcoin.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 300%;
}

.web-font{
	font-family: 'Exo 2', sans-serif;
}

.logo > img,
.logo > h2 {
    display: inline-block;
    margin: 0;
}

.ignite{
	color: rgb(255,0,0);
}

.white{
	color: rgb(255,255,255);
}