body > .container{
	margin-top: 60px;
}

.well{
	max-width: 400px;
	min-width: 300px;
	margin: 0 auto;
	background: rgba(47,79,79,.95);
	border: 2px solid #cc6633;
}

#password-recovery > a:hover,
#password-recovery > a:link,
#password-recovery > a:visited,
#password-recovery > a:active{
	color: rgb(255,255,255);
	text-decoration: none;
}

#password-recovery > a:hover{
	color: rgb(180,180,180);
}
